
@font-face {
  font-family: 'proxima-nova';
  src: url('./proxima/ProximaNova-Regular.otf');
}
body{background-color:#fafbfd;padding:0;margin:0;font-family:proxima-nova !important;}
a:hover{ text-decoration: none !important;}
.page-lock{margin:90px auto 30px;width:450px}
.page-lock .lock-cont{display:table;table-layout:fixed}
.page-lock .lock-cont .lock-item{display:table-cell;vertical-align:middle;}
.page-lock .lock-cont .lock-item .lock-item-full{width:100%}
.page-lock .page-logo{text-align:center;margin-bottom:15px}
.page-lock .page-body{width:100%;margin-top:50px;background-color:#3a4554;-webkit-border-radius:7px;-moz-border-radius:7px;-ms-border-radius:7px;-o-border-radius:7px;border-radius:7px}.lock-head{display:block;background-color:#323d4b;text-align:center;padding-top:15px;padding-bottom:15px;font-size:22px;font-weight:400;color:#4db3a5;-webkit-border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-ms-border-radius:7px 7px 0 0;-o-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0}
.lock-body{display:block;margin:35px;overflow:hidden}
.lock-avatar{height:130px;-webkit-border-radius:50%!important;-moz-border-radius:50%!important;border-radius:50%!important}
.lock-form{padding-left:40px}.lock-form h4{margin:0;color:#dbe2ea;font-size:18px;font-weight:400;display:inline-block}.lock-form .form-actions,.lock-form .form-group{margin-top:20px;}.lock-form .form-group .form-control{background-color:#303a48;border:none;width:220px;height:40px;color:#697687;font-size:25px;text-align: center;}
.lock-form .form-group .form-control::-moz-placeholder{color:#556376;opacity:1}
.lock-form .form-group .form-control:-ms-input-placeholder{color:#556376}
.lock-form .form-group .form-control::-webkit-input-placeholder{color:#556376}
.lock-form .form-group .form-control:focus{background-color:#2b3542}
.lock-form .form-actions .btn{width:220px;font-weight:600;padding:10px}
.lock-bottom{display:block;background-color:#323d4b;text-align:center;padding-top:20px;padding-bottom:20px;-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;-ms-border-radius:0 0 7px 7px;-o-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px}
.lock-bottom a{font-size:14px;font-weight:400;color:#638cac}.lock-bottom a:hover{color:#7ba2c0}
.page-footer-custom{text-align:center;padding-top:40px;color:#5f6e83}@media (max-width:768px){.lock-avatar-block,.page-lock .lock-cont .lock-item{display:block;text-align:center;}
.page-lock{margin:30px auto;width:280px}.page-lock .lock-cont{display:block}
.page-lock .lock-cont .lock-item .lock-item-full{width:100%}.lock-body{margin:0}
.page-lock .page-body{margin-top:30px}.lock-avatar{margin-top:20px}
.lock-avatar-block{width:100%;margin-bottom:10px;}.lock-form{padding-left:20px}
.lock-form h4{font-size:16px;text-align:center}
.lock-form .form-actions .btn{/* width:100%; */margin-bottom:20px;}}
.container{margin-top: 50px;}
h4 a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #00AE4D;
  border-radius: 6px;
  margin: 10px;
  color: #FFFFFF;
}

.quiz-template-preview .breadcrumbs, .quiz-templates .breadcrumbs {
  margin-bottom: 10px;
  padding: 20px 0;
}
.quiz-templates .card:hover {
  box-shadow: -1px 2px 4px 0 rgba(67,86,100,.1), -4px 5px 8px 0 rgba(67,86,100,.12);
  -webkit-transform: translate3d(0,-4px,0);
  -moz-transform: translate3d(0,-4px,0);
  -ms-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
}

.quiz-templates .card {
  position: relative;
  padding: 0;
  min-height: 199px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: -1px 1px 2px 0 rgba(67,70,74,0), -2px 2px 5px 0 rgba(67,86,100,.12);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.quiz-templates .card .img {
  height: 170px;
  position: relative;
  opacity: 1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.quiz-templates .card .content {
  text-align: center;
  padding: 20px 30px;
  -webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -ms-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
}


@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple {background-color: #6f42c1;}

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}