<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Quizs List</title>
  <link rel='stylesheet' href='/assets/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

</head>

<body style="background-color:whitesmoke !important;">
  <!-- Image and text -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><img class="mr-3" src="../assets/images/QuizUp_Logo.png" alt="" width="150"
        height="48"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline">
      <a href="/quizs/create"><button class="btn btn-outline-success" type="button">New Quiz</button></a>
    </form>
  </nav>

  <div class="container">
    <div class="col-lg-12">
      <div class="breadcrumbs">
        <ul>&nbsp;</ul>
      </div>
    </div>

    <div class="row">

    </div>
    <div class="quiz-templates">
      <div class="container">
        <div class="row">
          <% if(quizs.length>0) { %>
          <% for(var i=0; i<quizs.length;i++) { %>
          <div class="col-md-4 col-sm-6">
            <a href="/quizs/show/<%= quizs[i]._id%>">
              <div class="card category" data-id="animals">
                <% if( quizs[i].image_url != ''&&quizs[i].image_url != null) { %>
                <div class="img" style="background-image:url('..<%=quizs[i].image_url%>')"></div>
                <% }else{ %>
                <div class="img" style="background-image:url('../assets/images/placeholder.png')"></div>
                <% } %>
                <div class="content">
                  <h6 class="text"><%= quizs[i].name%></h6>

                  <% if( quizs[i].question != null && quizs[i].question != '') { %>
                  <p class="subtext"><%= quizs[i].question.length%> Question available</p>
                  <% }else{ %>
                  <p class="subtext">No Question available</p>
                  <% } %>

                  <% if( quizs[i].publish == "on") { %>
                    <div class="text-success"> Published</div>
                 <% }else{ %>
                  <div class="text-danger"> Not Published !</div>
                 <% } %>
                </div>
              </div>
            </a>

          </div>
          <% } %>
          </tbody>
          </table>
          <% } else { %>
          <div>No quizs found.</div>
          <% } %>
        </div>
      </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $("img").each(function () {
          var imgObj = $(this);
          var img = new Image();
          img.onerror = function () { imgObj.attr('src', '/assets/images/placeholder.png'); }
          img.src = imgObj.attr('src');
        });
      });
    </script>

</body>

</html>